
body {
    background-color: $c-w-5;
}



.main-container {
    display: grid;
    justify-content: center;
}

.main {
    width: 100vw;
    max-width: 1170px;
    padding: 40px 20px;
}


#main {
    height: 800px;
    display: grid;
    place-content: center;
}

%match-height {
    height: calc(100vh - 76px - 298px); // Header and footer height;
}
