/* ==================== HEADER ==================== */


header {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(247, 247, 247));
    border-bottom: 1px solid rgb(228, 228, 228);
}

    header .hevento-logo {
        fill: $c-t-1;
        transition: 0.3s;
        cursor: pointer;
    }

    header .hevento-logo:hover {
        fill: $c-t-2;
    }

#header-container {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 1170px;
    width: 100%;
    padding: 0px 20px;
}

    #header-logo {
        display: flex;
        align-items: center;
    }

    #header-navigation {
        display: grid;
        grid-template-rows: 1fr;

    }

        #header-navigation-list {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

            .hnl-items {
                display: inline-block;
                padding: 25px 15px 25px;
                font-size: 16px;
                line-height: 25px;
                color: $c-t-1;
                font-weight: 900;
                transition: 0.3s;
                position: relative;
                box-sizing: content-box;
            }

            .hnl-items::after {
                width: 100%;
                border-bottom: 2px solid $c-t-4;
                content: " ";
                display: block;
                position: absolute;
                bottom: 0px;
                left: 0px;
                transform: scaleX(0.0);
                transform-origin: left;
                transition: 0.3s;
            }

            .hnl-items:hover {
                color: $c-t-4;
            }

            .hnl-items:hover::after {
                color: $c-t-1;
                transform: scaleX(1);
            }

            .hnl-hideborder::after {
                display: none;
            }

            .hnl-seprator {
                padding: 25px 20px;
                cursor: default;
            }

            .hnl-seprator::after {
                display: none;
                border: 0;
            }

    .hnl-dropdown-container {
        display: flex;
        align-items: center;
        > figure {
            display: flex;
            align-items: flex-end;
            margin-right: 10px;
        }
    }


    #hnl-dropdown {
        position: absolute;
        top: 75px;
        right: 0px;
        z-index: -1;
        background-color: $c-w-5;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 2px;
        border: 1px solid $c-g-3;
        border-bottom: 2px solid $c-t-4;
        border-top: 0;
        transition: 0.3s;
        transform: translateY(25px);
        opacity: 0;
    }

    .hnl-dropdown-toggleIn {
        transform: translateY(0px) !important;
        opacity: 1 !important;
        z-index: 2 !important;
    }

    .hnl-dropdown-active {
        background-color: $c-t-1 !important;
        color: $c-w-1 !important;

        .hnl-user-icon {
            fill: $c-w-1 !important;
        }
    }

        .hnl-user-icon {
            width: 25px;
            height: 25px;
            fill: $c-t-1;
        }


        .hnl-dropdown-item {
            display: block;
            padding: 12px 15px;
            font-size: 13px;
            font-weight: 100;
            color: rgba($c-g-5, 0.8);
            width: 240px;
            border-bottom: 1px solid $c-g-1;
        }

        .hnl-dropdown-item:hover {
            background-color: darken($c-w-5, 5%);
        }
