.main-container {
    display: grid;
    justify-content: center;
}

.main {
    width: 100vw;
    max-width: 1170px;
    padding: 40px 20px;
}

.full-section {
    height: 350px;
}

.fixed-section {
    max-width: 1000px;
    width: 100%;
}

#main {
    height: 800px;
    display: grid;
    place-content: center;
}

%match-height {
    height: calc(100vh - 76px - 326px); // Header and footer height;
}
