/* ==================== RESET ==================== */

* {
    @extend %resetPaddingMargin;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

li {
	cursor: pointer;
}

input {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}

* {
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

input, input:before, input:after {
     -webkit-user-select: initial;
     -khtml-user-select: initial;
     -moz-user-select: initial;
     -ms-user-select: initial;
     user-select: initial;
    }

button:focus, input[type="button"]:focus {
    outline: none;
}
