
/*
    // ==================== IMPORT ==================== \\
   ||                                                   ||
   \\--------------------------------------------------//
*/

// ==================== BASE FOLDER ==================== \\
@import 'base/colors';
@import 'base/typography';
@import 'base/reset';


// ================= COMPONENTS FOLDER ================= \\
@import 'components/animations';
@import 'components/button-and-forms';
@import 'components/input';
@import 'components/media';
@import 'components/popup';


// =================== HELPERS FOLDER =================== \\
@import 'helpers/placeholders';
@import 'helpers/mixins';
@import 'helpers/functions';


// =================== PAGES FOLDER =================== \\
@import 'pages/signup';
@import 'pages/event-create';
@import 'pages/event-profile';
@import 'pages/events';
@import 'pages/signin';
@import 'pages/index';


// =================== LAYOUT FOLDER =================== \\
@import 'layout/header';
@import 'layout/footer';
@import 'layout/global';




// ================== VENDORS FOLDER ================== \\
