
    // ======= EVENT NAVIGATION ========

    #events-navigation {
        height: 70px;
        border-bottom: 1px solid $c-t-3;
        background-color: $c-g-1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0px 20px;
    }

        #events-layout {
            height: 100%;
            padding: 0px 10px;
            position: relative;
        }
            #events-layout-toggle {
                height: 100%;
                width: 60px;
                color: $c-t-1;
                cursor: pointer;
                font-size: 26px;
                display: grid;
                place-content: center;
            }

            #events-layout-options {
                display: grid;
                grid-template-columns: 1fr;
                position: absolute;
                z-index: 1;
                left: 0px;
                top: 69px;
                transform: translateY(25px);
                opacity: 0;
                transition: 0.3s;
                cursor: pointer;
                z-index: -1;
                width: 100%;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 2px;
            }

            .layout-options-active {
                transform: translateY(0px) !important;
                opacity: 1 !important;
                z-index: 1 !important;
            }

                .events-nav-icons {
                    display: flex;
                    justify-content: center;
                    font-size: 24px;
                    padding: 10px 10px;
                    color: $c-t-2;
                    background-color: rgba($c-g-1, 0.8);
                    border: 1px solid rgba($c-g-1, 0.2);
                }

                .events-nav-icons:hover {
                    color: $c-g-2;
                    border-bottom: 1px solid $c-g-4;
                    background-color: $c-t-4;
                }




    // ======= EVENT DATA ========

    #events-data {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr;
        height: calc(100vh - 150px);     // Height of header + navigationbar
    }

    .events-data-split {
        grid-template-areas: "list map";

    }

    .events-data-list {
        grid-template-areas: "list list";

        #events-map {
            display: none;
        }
    }

    .events-data-map {
        grid-template-areas: "map map";

        #events-list {
            display: none;
        }
    }

        #events-list {
            grid-area: list;
        }

        #events-map {
            grid-area: map;
        }



        // ======= EVENT LIST ========

        #events-list {
            overflow-y: scroll;
            direction:rtl;
            overflow-x: hidden;
        }

        #events-list-ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
            grid-auto-rows: 300px;
            grid-column-gap: 40px;
            grid-row-gap: 60px;
            padding: 30px 50px;;
            direction:ltr;
            -webkit-overflow-scrolling: touch;
        }
            .event-item {

            }

            .event-item:hover {
                .event-item-img::after {
                    opacity: 1;
                }

                .event-item-dateday {
                    color: $c-t-4;
                }
            }

            .event-item-link {
                display: grid;
                grid-template-rows: 1fr auto;
                height: 100%;
                color: inherit;
            }

                .event-item-img {
                    background-size: cover;
                    background-position: center;
                    position: relative;
                }

                .event-item-img::after {
                    display: block;
                    content: " ";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    box-shadow: rgba(0, 0, 0, 0.08) 0px 16px 24px 2px, rgba(0, 0, 0, 0.06) 0px 6px 30px 5px, rgba(0, 0, 0, 0.15) 0px 8px 10px -5px;
                    transition: 0.3s;
                    opacity: 0;
                }



                .event-item-content {
                    display: grid;
                    grid-template-columns: 1fr auto;
                    padding-top: 5px;
                }
                    .event-item-text {

                    }

                        .event-item-category {
                            text-transform: uppercase;
                            font-weight: 700;
                            font-size: 12px;
                        }

                        .event-item-title {
                            margin: 0px;
                            font-size: 18px;
                            margin-bottom: 3px;
                        }

                        .event-item-price {
                            color: $c-g-5;
                        }

                    .event-item-date {
                    }

                        .event-item-dateday {
                            color: black;
                            margin: 0px;
                            text-align: right;
                            transition: 0.3s;
                        }


                        .event-item-datemonth {
                            text-align: right;
                            text-transform: uppercase;
                        }

        // ======= EVENT MAP ========

        #events-map {
            background-color: rgba($c-t-4, 0.4);
        }
