/* ==================== RESET ==================== */

* {
    @extend %resetPaddingMargin;
    user-select: none;
    box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

li {
	cursor: pointer;
}

input {
    outline: none;
}

a:link, a:visited {
    text-decoration: none;
}
