/* ==================== TYPOGRAPHY ==================== */

// FONT SIZES
$font-size-small	       :12px;
$font-size-regular         :16px;
$font-size-large	       :24px;
$font-size-x-large         :32px;
$font-size-xx-large	       :48px;
$font-size-xxx-large	   :64px;
$font-size-xxxx-large	   :96px;

h1,h2,h3,h4,h5,h6,div,p,span,li {
    font-family: 'Lato';
}

h3 {
    margin: 20px 0px;
    font-weight: 900;
    font-size: 14px;
}

h2 {
    margin: 20px 0px;
    font-size: 28px;
    color: $c-w-5;
}

a {
    color: white;
}
