/*
    // ==================== IMPORT ==================== \\
   ||                                                   ||
   \\--------------------------------------------------//
*/
/* ==================== COLORS ==================== */
/* ==================== TYPOGRAPHY ==================== */
h1, h2, h3, h4, h5, h6, div, p, span, li {
  font-family: 'Lato'; }

h3 {
  margin: 20px 0px;
  font-weight: 900;
  font-size: 14px; }

h2 {
  margin: 20px 0px;
  font-size: 28px;
  color: #f2f2f2; }

a {
  color: white; }

/* ==================== RESET ==================== */
* {
  box-sizing: border-box; }

ol, ul {
  list-style: none; }

li {
  cursor: pointer; }

input {
  outline: none; }

a:link, a:visited {
  text-decoration: none; }

* {
  -webkit-user-select: none;
  /* Safari 3.1+ */
  -moz-user-select: none;
  /* Firefox 2+ */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Standard syntax */ }

button:focus, input[type="button"]:focus {
  outline: none; }

/* ==================== MEDIA ==================== */
* {
  padding: 0px;
  margin: 0px; }

body {
  background-color: #f2f2f2; }

.signup-container {
  background-image: url("https://images.unsplash.com/photo-1497935586351-b67a49e012bf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=723bf403c08d27742f820e166b5c9f67&auto=format&fit=crop&w=1951&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  display: grid;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); }

.signup-formular > h2 {
  display: flex;
  justify-content: center;
  margin-top: 0px; }

.signup-formular > h5 {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  color: #f2f2f2; }
  .signup-formular > h5 > a {
    margin-left: 10px;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 3px;
    transition: 0.3s; }
  .signup-formular > h5 > a:hover {
    margin-left: 20px;
    color: #c7d3e0;
    border-bottom: 1px solid #c7d3e0; }

.signup-form {
  display: grid;
  grid-template-areas: "fullname fullname" "email password" "address zip" "town town" "phone phone" "signup signup";
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: auto; }

#signup-fullname {
  grid-area: fullname; }

#signup-email {
  grid-area: email; }

#signup-password {
  grid-area: password; }

#signup-address {
  grid-area: address; }

#signup-town {
  grid-area: town; }

#signup-zip {
  grid-area: zip; }

#signup-phone {
  grid-area: phone; }

#signup-button {
  grid-area: signup; }

.signup-input, .signup-button {
  padding: 15px;
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  font-size: 15px; }

.signup-input[type] {
  color: #9689CC; }

input[type]:-moz-placeholder,
input[type]:-ms-input-placeholder,
input[type]::-webkit-input-placeholder {
  color: #2e3f53; }

input[type]::selection {
  color: #f2f2f2;
  background-color: #9689CC; }

.signup-button {
  background-color: #9689CC;
  background: linear-gradient(-45deg, #9689CC, #E73C7E, #9689CC, #9689CC);
  background-size: 400% 400%;
  animation: Gradient 15s ease infinite;
  border: 0;
  color: #dcdcdc;
  font-weight: 700;
  font-family: 'Lato';
  font-size: 18px;
  cursor: pointer;
  position: relative;
  box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 1px 0px inset;
  transition: 0.3s;
  margin-top: 25px; }

.signup-button:hover {
  color: #f2f2f2; }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* Fixed Section  */
.signup-section {
  display: flex;
  justify-content: center; }

.fixed-section {
  border: 1px solid red; }
  .fixed-section > * {
    padding: 15px;
    border: 1px solid red; }

.signup-fixed {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center; }
  .signup-fixed > div > h2 {
    color: #3a3a3a; }

.signup-notifications > p {
  margin: 10px 0px; }

/* ==================== HEADER ==================== */
header {
  display: flex;
  justify-content: center; }

header .hevento-logo {
  fill: #2e3f53;
  transition: 0.3s;
  cursor: pointer; }

header .hevento-logo:hover {
  fill: #58789f; }

#header-container {
  display: grid;
  grid-template-columns: auto 1fr;
  max-width: 1170px;
  width: 100%;
  padding: 0px 20px; }

#header-logo {
  display: flex;
  align-items: center; }

#header-navigation {
  height: 80px;
  display: grid;
  grid-template-rows: 1fr; }

#header-navigation-list {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.hnl-items {
  padding: 25px 15px;
  font-size: 16px;
  color: #2e3f53;
  font-weight: 900;
  transition: 0.3s;
  position: relative; }

.hnl-items::after {
  width: 100%;
  border: 1px solid #9689CC;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0px;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.3s; }

.hnl-items:hover {
  color: #9689CC; }

.hnl-items:hover::after {
  color: #2e3f53;
  transform: scaleX(1); }

.hnl-seprator {
  padding: 25px 20px;
  cursor: default; }

.hnl-seprator::after {
  display: none;
  border: 0; }

/* ==================== FOOTER ==================== */
footer {
  display: grid;
  background-color: #202020;
  justify-items: center; }

footer .hevento-logo {
  fill: #f2f2f2; }

/* FOOTER CONTAINER */
#footer-container {
  display: grid;
  grid-template-columns: auto 1fr 1fr 2fr;
  max-width: 1170px;
  width: 100%;
  margin: 50px 0px;
  padding: 0px 20px; }

#footer-logo {
  margin-right: 100px; }

.footer-section > h3 {
  color: #8a8a8a; }

.footer-item {
  padding-bottom: 12px; }
  .footer-item > a {
    color: #f2f2f2; }
  .footer-item > a:hover {
    color: #58789f; }

.footer-social {
  display: grid;
  justify-content: flex-end; }

.footer-social-icon {
  width: 50px;
  height: 50px;
  padding: 12px;
  border-radius: 4px;
  margin: 15px;
  margin-top: 20px;
  fill: #f2f2f2;
  background-color: #2d2d2d;
  cursor: pointer; }

.footer-social-icon:hover {
  fill: #58789f; }

/* FOOTER BOTTOM BAR */
#footer-bottom-bar {
  display: grid;
  grid-template-columns: 1fr auto;
  max-width: 1170px;
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #3a3a3a; }

#footer-list {
  display: flex; }

.footer-bar-text {
  display: inline-block;
  color: #8a8a8a;
  padding: 20px;
  font-size: 12px; }
  .footer-bar-text > a {
    color: #8a8a8a; }
  .footer-bar-text > a:hover {
    color: #f2f2f2; }

.full-section {
  height: 400px; }

.fixed-section {
  max-width: 1000px;
  width: 100%; }
